
[user]
    name = Luis Villalobos
    email = luisevm24@outlook.com

[core]
    editor = nano
    autocrlf = input # Windows: true | Unix: input
    safecrlf = warn

[alias]
    edit = config --global -e
    list = !git config -l | grep alias | cut -c 7-

    lg   = log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(bold white)%s%C(reset) - %C(white) %an%C(reset)' --all
    ll   = log --graph --abbrev-commit --decorate --format=format:'%C(bold yellow)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold red)%d%C(reset)%n''          %C(bold white)%s%C(reset) - %C(white) %an%C(reset)' --all --numstat

    s = status -sb

    a = add

    c  = commit
    cm = commit -m

    d = diff
