alias _='sudo'
alias update='sudo apt update'
alias upgrade='sudo apt upgrade'

# Navigation
alias cd~='cd ~'
alias ...='../..'
alias ....='../../..'

# Files & Directories
alias ls='ls --color=tty'
alias la='ls -Ah'
alias ll='ls -lAh'

alias md='mkdir -pv'
alias rd='rm -ri'
alias rdf='rm -rv'

# Services
alias _mysql='sudo service mysql start'
alias _psql='sudo service postgresql start'

# Programs
alias g='git'
alias mysql_='mysql -u root -p'
alias psql_='psql -U postgres'

# PHP
alias composer-ignore='composer --ignore-platform-reqs'
alias phpa='php artisan'
alias phpa-clear='php artisan config:clear && php artisan cache:clear && php artisan event:clear && php artisan route:clear && php artisan view:clear'

# Javascript
alias npm-watch='npm run watch-poll'

alias ng-serve='ng serve --poll=2000'

# Windows
alias open='explorer.exe'

alias sublime='/mnt/c/Program\ Files/Sublime\ Text\ 3/subl.exe'

# Other
